Task 1 :1

In [66]:
#first program
print("Hi this is exciting!")

Hi this is exciting!

Task 1: 2

In [10]:
l= list(range(2000,3201))
req = []
for num in l:
    if num%7==0:
        if num%5!=0:
            print(num, end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

Task 1: 3

In [28]:
given_name = input("users first name and last name")
output_name = given_name.split(" ")
print(output_name[1], " ", output_name[0])

users first name and last namevinay kumar
kumar   vinay

Task 1 : 4

In [36]:
import math
v = (4/3)*(math.pi)*(6**3)
v

904.7786842338603

Task 2: 1

In [49]:
 str = input("Enter comma separated integers: ")
list = str.split (",")
li = []
for i in list:
    li.append(int(i))
print ("list (li) : ", li)

Enter comma separated integers: 10,20,30
list (li) :  [10, 20, 30]

Task 2: 2

In [52]:
for i in range(10):
    if i<=5:
        print("*"*i)
    else:
        print("*"*(10-i))

*
**
***
****
*****
****
***
**
*

Task 2: 3

In [65]:
name = input("provide input name pls")
str = "" 
for i in name: 
    str = i + str
print(str)

provide input name plsvinay
yaniv

In [73]:
string = "WE, THE PEOPLE OF INDIA,{}having solemnly resolved to constitute India into a SOVEREIGN,{}SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC{}and to secure to all its citizens{}"
print(string.format('\n\t','!\n\t\t','\n\t\t',':'))

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		and to secure to all its citizens: